<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214609037413-idtvind0gpjk098f4c5acj21c87krfnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214609037413-idtvind0gpjk098f4c5acj21c87krfnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDAVYgs7uJrXnlLz_ILmR0lAjxefO3CSIk</string>
	<key>GCM_SENDER_ID</key>
	<string>214609037413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylogin191</string>
	<key>PROJECT_ID</key>
	<string>first-project-4cc28</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-4cc28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214609037413:ios:4a258c949c788c64b01e8c</string>
</dict>
</plist>